@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@theme {
  --color-midnight: #B0DB9C;
  --color-tahiti: #CAE8BD ;
  --color-green: #A0C878;
  /* --color-bermuda: #78dcca; */
} 